<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
<title>RMS - Employees page</title>

<meta charset="ISO-8859-1" />
<meta name="author" content="Mitrais" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
	<div th:replace="layout::navbar"></div>

	<div class="row">
		<div id="employee-list">		
			<div th:replace="list-employee::list-employee"></div>	
		</div>
		
		<div class="col m12 l8 main-content-container">
			<div class="main-control valign-wrapper">
				<span data-page-name="create-page" class="material-icons small" sec:authorize="hasRole('ADMIN')">note_add</span>
				<span data-page-name="detail-page" class="material-icons small">person</span>
				<span data-page-name="history-page" class="material-icons small">history</span>
				<span data-page-name="grade-page" class="material-icons small">layers</span>
				<span data-page-name="family-page" class="material-icons small">people</span>
				<span data-page-name="location-page" class="material-icons small">location_on</span>
			</div>
			
			<div class="page home-page active center-align">
				<h5>Wellcome to Resource Management System (RMS)</h5>
			</div>
			
			<div class="page create-page" sec:authorize="hasRole('ADMIN')">
				<h5 style="padding-left: 1.5rem">Input new employee data</h5>
				<br/>
				<form id="employee-form" class="col s12" th:action="@{/employees}">
					<div class="row">
						<div th:replace="common::input-text ('First Name', 'firstName')"></div>
						<div th:replace="common::input-text ('Sub Division', 'subDivision')"></div>
					</div>
	
					<div class="row">
						<div th:replace="common::input-text ('Last Name', 'lastName')"></div>
						<div th:replace="common::drop-down ('Status', 'status', ${@dropdownService.getEmployeeStatusDropdown()})"></div>
					</div>
	
					<div class="row">
						<div th:replace="common::drop-down ('Gender', 'gender', ${@dropdownService.getGenderDropdown()})"></div>
						<div th:replace="common::date-picker ('Suspend Date', 'suspendDate')"></div>
					</div>
	
					<div class="row">
						<div th:replace="common::date-picker ('Date of Birth', 'dateOfBirth')"></div>
						<div th:replace="common::date-picker ('Hired Date', 'hiredDate')"></div>
					</div>
	
					<div class="row">
						<div th:replace="common::input-text ('Nationality', 'nationality')"></div>
						<div th:replace="common::drop-down ('Grade', 'grade', ${@dropdownService.getGradeDropdown()})"></div>
					</div>
	
					<div class="row">
						<div th:replace="common::drop-down ('Marital Status', 'maritalStatus', ${@dropdownService.getMaritalStatusDropdown()})"></div>
						<div th:replace="common::drop-down ('Division', 'division', ${@dropdownService.getDivisionDropdown()})"></div>
					</div>
	
					<div class="row">
						<div th:replace="common::input-text ('Phone', 'phone')"></div>
						<div th:replace="common::input-text ('Email', 'email')"></div>
					</div>
					<div class="row">
						<div th:replace="common::input-text ('Location', 'location')"></div>
						<div th:replace="common::input-text ('Username', 'username')"></div>
					</div>
	
					<div class="row right-align">
						<a href="#" onclick="submitForm()" class="btn waves-effect waves-light">
							Submit <i class="material-icons right">send</i>
						</a>
					</div>
				</form>
			</div>
			
			<div class="page detail-page">
				<h5 class="center-align">Select an employee to see his/her detail</h5>
			</div>
			<div class="page history-page">
				<h5 class="center-align">Under Construction !</h5>
			</div>
			<div class="page grade-page">
				<h5 class="center-align">Under Construction !</h5>
			</div>
			<div class="page family-page">
				<h5 class="center-align">Under Construction !</h5>
			</div>
			<div class="page location-page">
				<h5 class="center-align">Under Construction !</h5>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script type="text/javascript" th:src="@{/js/jquery.deserialize.js}"></script>
	<script type="text/javascript" th:src="@{/js/jQueryOverride.js}"></script>
	<script type="text/javascript" th:src="@{/js/employeePage.js}"></script>
</body>
</html>